.Project-subheader {
	padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.Project-button {
	margin-left: 20px;
}

.Project-image {
	margin-left: 80px;
}

.Project-box {
	background-color: #eee;
	padding: 40px;
	margin-bottom: 20px;
}

.Project-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.Project-select {
	border: 1px solid #ccc;
	border-radius: 0;
	height: 40px;
	width: 140px;
	background: none;
	margin: 0 20px 20px 0;
}