.Home-image {
    background: #eee;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.Home-p {
    margin-bottom: 40px;
}