.Theme-project {
	width: 340px;
	margin: 0 40px 40px 0;
}

.Theme-project:nth-child(3) {
	margin-right: 0;
}

.Theme-splash {
	margin-bottom: 40px;
	position: relative;
}

.Theme-overlay {
	background: rgba(255, 255, 255, .9);
	position: absolute;
	top: 40px;
	left: 40px;
	width: 300px;
	padding: 40px;
}

