.Theme-container-top {
	padding-top: 50px;
}

.Theme-project {
	width: 340px;
	margin: 0 40px 40px 0;
}

.Theme-project:nth-child(3) {
	margin-right: 0;
}

.Theme-splash {
	margin-bottom: 40px;
	background-image: url('./../../img/highline.jpg');
	height: 400px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}

.Theme-overlay {
	background: rgba(255, 255, 255, .9);
	padding: 0 40px;
	width: 220px;
	height: 300px;
	display: flex;
	align-items: center;
}

.Theme-image {
	margin-bottom: 10px;
}